{
    "extends": "eslint:recommended",

    "rules": {
        "no-console": 0,

        "no-shadow": 2,
        "no-catch-shadow": 2,
        "no-shadow-restricted-names": 2,
        "radix": 2,

        "wrap-iife": 2,
        "yoda": 2,
        "semi": 2,
        "indent": 2,
        "camelcase": 2,
        "brace-style": 2,
        "comma-spacing": 2,
        "comma-style": 2,
        "quotes": [2, "single", "avoid-escape"],
        "no-spaced-func": 2,
        "keyword-spacing": 2,
        "space-before-blocks": 2,
        "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
        "space-in-parens": 2,
        "space-infix-ops": 2,
        "space-unary-ops": 2,
        "no-trailing-spaces": 0,
        "no-underscore-dangle": 0
    },

    "env": {
        "node": true
    }
}
