{
    "rules": {
        "radix": 2,
        "vars-on-top": 2,
        "wrap-iife": 2,
        
        "indent": 2,
        "camelcase": 2,
        "brace-style": 2,
        "comma-spacing": 2,
        "comma-style": 2,
        "quotes": [2, "simple"],
        
        "no-trailing-spaces": 0,
        "no-underscore-dangle": 0
    },
    
    "env": {
        "browser": true,
        "node": true
    }
}